@keyframes soft-blink {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 80%;
  }
}

@keyframes open {
  0% {
    width: 100vw;
    height: 0vh;
  }
  15% {
    width: 100vw;
    height: 0vh;
  }
  75% {
    width: 100vw;
    height: 0vh;
  }
  100% {
    width: 100vw;
    height: 50vh;
  }
}

@keyframes close {
  0% {
    width: 100vw;
    height: 50vh;
  }
  100% {
    width: 100vw;
    height: 0vh;
  }
}

@keyframes shine-left {
  0% {
    opacity: 10%;
    background-color: #c9fded;
  }
  5% {
    opacity: 50%;
    background-color: #c9fded;
  }

  15% {
    opacity: 80%;
    width: 50vw;
    background-color: $primary-green;
    z-index: 99;
    filter: brightness(200%) saturate(150%) hue-rotate(-0.12turn);
  }

  50% {
    box-shadow: -1px 0px 17px 7px $primary-green;
    opacity: 100%;
    width: 15vw;
    background-color: $primary-green;
    z-index: 99;
    filter: brightness(200%) saturate(150%) hue-rotate(-0.12turn);
  }

  90% {
    box-shadow: -1px 0px 3px 3px $primary-green;
    opacity: 100%;
    width: 2px;
    background-color: #00ffb3;
    filter: blur(1px);
    z-index: 99;
  }

  100% {
    opacity: 10%;
    transform: translateX(-50vw);
  }
}

@keyframes shine-right {
  0% {
    opacity: 10%;
    background-color: #c9fded;
  }
  5% {
    opacity: 50%;
    background-color: #c9fded;
  }

  15% {
    opacity: 80%;
    width: 50vw;
    background-color: $primary-green;
    z-index: 99;
    filter: brightness(200%) saturate(150%) hue-rotate(-0.12turn);
  }

  50% {
    box-shadow: -1px 0px 17px 7px $primary-green;
    opacity: 100%;
    width: 15vw;
    background-color: $primary-green;
    z-index: 99;
    filter: brightness(200%) saturate(150%) hue-rotate(-0.12turn);
  }

  90% {
    box-shadow: -1px 0px 3px 1px $primary-green;
    opacity: 100%;
    width: 2px;
    background-color: $light-green;
    filter: blur(1px);
    z-index: 99;
  }

  100% {
    opacity: 10%;
    transform: translateX(50vw);
  }
}

/*-SLIDE */
.up-slide-enter-active {
  transition: all 0.8s ease;
}
.up-slide-leave-active {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
.up-slide-enter,
.up-slide-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

/* SIDE-SLIDE */
.side-slide-enter-active {
  transition: all 1s ease;
}
.side-slide-leave-active {
  transition: all 1.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.side-slide-enter,
.side-slide-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
