label {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  width: fit-content;
  padding: 0 0.2rem 0 0.2rem;
}

label.active {
  background-color: $primary-green;
  color: $primary-dark;
}

input[type="text"],
textarea {
  margin-bottom: 0.5rem;
  background-color: $primary-dark;
  border-color: $primary-gray;
  border-width: 2px;
  margin-bottom: 0.5rem;
  outline: none !important;
  border: none;

  &:focus {
    outline: none !important;
  }
}

input[type="text"] {
  height: 3rem;
  text-indent: 10px;
}

textarea {
  height: 6rem;
  padding: 0.5rem;
  resize: none !important;
}

input[type="submit"] {
  background: transparent;
}

@media (min-width: 1280px) {
  textarea {
    height: 10rem;
  }
}
