.nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-item a {
  padding: 0 0.2rem 0 0.2rem;
  color: rgb(5, 166, 114);
  cursor: pointer;
}

.nav-item a:hover {
  background-color: rgb(5, 166, 114);
  color: rgb(34, 38, 47);
}

.nuxt-link-exact-active {
  color: #22262f !important;
  cursor: pointer;
  background-color: rgb(5, 166, 114);
  transition-duration: 200ms;
}
