/* ANIMATIONS */
@keyframes soft-blink {
  0% { opacity: 0%; }
  100% { opacity: 80%; }
}

@keyframes open {
  0% { opacity: 0%; width: 0vw; background-color: #48b492; }
  15% { opacity: 100%; width: 100vw; height: 5px; background-color: #b4dace; }
  75% { opacity: 100%; width: 100vw; height: 10px; background-color: #2a2e38; }
  100% { opacity: 100%; width: 100vw; height: 50vh; background: #2a2e38; }
} 