.text-gradient-light {
  background: linear-gradient(
    135deg,
    rgba(235, 244, 241, 1) 0%,
    rgba(235, 244, 241, 0.7) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-green {
  background: linear-gradient(
    135deg,
    rgba(1, 167, 114, 1) 0%,
    rgba(1, 167, 114, 0.5) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
