#about {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;

  img {
    filter: brightness(90%) contrast(100%) saturate(145%);
    position: absolute;
    bottom: 0;
  }
}
